.notify{
    background-color: rgb(70, 70, 70);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    justify-content: center;
}

.danger{
    background-color: rgb(215, 35, 35);
}